<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-us">
<head>
    <title>Access Denied | BugKeeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" type="text/css"/>

    <script type="application/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/forbidden.js}"></script>
</head>
<body>
<div th:insert="~{header :: header}"></div>
<div style="text-align: center">
    <button class="btn btn-primary" onclick="goHome()">Go To Main Page</button>
</div>
</body>
</html>
