<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <form th:action="@{/logout}" method="post" id="logoutForm">
    </form>
    <script type="application/javascript">
        function formSubmit() {
            $('#logoutForm').submit();
        }
    </script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/issues}">BugKeeper</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome, <span th:text="${session?.currentUser?.getFirstName()}"></span></a></li>
                    <li><a th:href="@{/issues}">Dashboard</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Admin</a></li>
                    <li><a href="javascript:formSubmit()"><span class="logout">Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
